*{
  padding: 0;
  margin: 0;
}
.formApp{
  background-color:#E8E8E8;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center
}
form{
  width: 500px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 15px;
  gap: 0px;
  padding: 30px;
  /* margin-top: 10px; */
}
h1{
  color: #4CAF50;
  text-align: center;
  /* margin-bottom: 20px; */
}
span{
  color: red;
}

input{
  width: 97%;
  padding: 7px;
  margin-bottom: 15px;
}
.Gen-radio{
  display: flex;
  width: 50%;
  flex-direction: row;
}
.Gen-radio input{
  height: 20px;
  color: #4CAF50;
}
.bestSub{
  display: flex;
  width: 50%;
  flex-direction: row;
}
.bestSub input{
  height: 19px;
}
.btn{
  margin-top: 25px;
  display: flex;
  justify-content: space-between
}

select{
  width: 500px;
  padding: 10px;
  margin-bottom:15px ;
 background-color: #E9E9ED;
}

.btn button{
  padding: 5px 15px;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
}

#file{
  /* background-color: #4CAF50; */
  border: 1px solid black;
}